.home-page-comp {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 16px;
  width: 100%;
  box-sizing: border-box;

  > .title {
    font-size: 24px;
  }

  > .greeting {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > .post-container {
    margin-top: 20px;
    > .post-wrapper {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
